.searchRes {
  margin-top: 75px !important;
}

.vote {
  border-top: solid 1px rgb(0, 153, 204);
  background-color: rgba(0, 153, 204, 0.431);
}

.poster {
  border: solid 1px rgba(0, 153, 204, 0.74);
  border-radius: 3px;
  margin-bottom: 5px;
}
