@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

section{
    background-image: url(../../assets/images/mortal-kombat-2021-movies-poster-4096x1895-4902.jpg);
    background-size: cover;
    height: 100vh;
    padding-bottom: 70px;
}

h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}