<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="main-nav">
  <a class="navbar-brand" routerLink="home">Core</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-bars text-light"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLinkActive='active-link' routerLink="home">Home</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLinkActive='active-link' routerLink="movies">Movies</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLinkActive='active-link' routerLink="tv">Tv shows</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLinkActive='active-link' routerLink="people">People</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLinkActive='active-link' routerLink="about">About</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLinkActive='active-link' routerLink="network">Network</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <span *ngIf="isLogin">
        <input class="mr-sm-2 px-2 py-1" id="search" type="search" placeholder="Search..." aria-label="Search" (keyup)="searchFn(val)" #val>
      </span>
      <div class="social-media mr-1" *ngIf="isLogin">
        <i class="fab fa-facebook mx-2"></i>
        <i class="fab fa-twitter mx-2"></i>
        <i class="fab fa-instagram mx-2"></i>
        <i class="fab fa-youtube mx-2"></i>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a *ngIf="!isLogin" class="nav-link" routerLinkActive='active-link' routerLink="register">Register</a>
        </li>

        <li class="nav-item">
          <a *ngIf="!isLogin" class="nav-link" routerLinkActive='active-link' routerLink="login">Login</a>
        </li>

        <li class="nav-item">
          <a (click)="isLogOut()" *ngIf="isLogin" class="nav-link">Logout</a>
        </li>
      </ul>
    </form>
  </div>
</nav>

<app-search-results id="searchRes"></app-search-results>