<div class="jumbotron" @fade>

  <div *ngIf="error || success" [class.alert-success]='success' [class.alert-danger]='error' class="alert alert-danger">
    <h2 *ngIf='error'>{{error}}</h2>
    <h2 *ngIf='success'>{{success}}</h2>
  </div>

  <form [formGroup]='loginForm' class="w-50 m-auto" (ngSubmit)='submitLoginForm(loginForm)'>
    <h1 class="my-3">Login form</h1>

    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName='email' type="text" placeholder="Enter your Email.." id="Email" class="form-control">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName='password' type="password" placeholder="Enter your password.." id="password"
        class="form-control">
    </div>

    <button [disabled]='loginForm.invalid' class="btn btn-outline-info font-weight-bold" type="submit">Login</button>
  </form>
</div>