.col-md-2 a {
  list-style: none;
  color: #fff;
}

.col-md-2 a:hover {
  list-style: none;
  color: #fff;
}
.pagination-movie {
  .pagination-nav {
    background-color: transparent;
    box-shadow: none;
  }
}

